header {
	text-align: center;
	display: block;
	margin-left: auto;
    margin-right: auto;
}

#upper {
	margin-top: 5px;
	margin-left: auto;
    margin-right: auto;
	display: flex;
	flex-flow: row wrap;
	width: 29em;
	background: #FAFAFA;
	
}

#matrix1,#matrix2{
	order: 1;
	width: 9em;
	height: 40%;
}


#operations {
	order: 1;
	width: 5em;
	height: 40%;
	display: block;
	
}

.operation {
	display: block;
	margin: 2px 250px;
	width: 5em;
	margin-top: 34px;
}

.parent {
	display: flex;
	flex-flow: row wrap;
	
	background: #FAFAFA;
	align-items: center;
	justify-content: center;
}

.title {
	order: 1;
	font-family: "Times New Roman", serif;
	width: 9em;
	height: 10%;
	text-align: center;
}

.m1r1, .m2r1 {
	order: 1;
	width: 3em;
	height: 10%;
	text-align: center;
}

.m1r2, .m2r2 {
	order: 2;
	width: 3em;
	height: 10%;
	text-align: center;
}

.m1r3, .m2r3 {
	order: 3;
	width: 3em;
	height: 10%;
	text-align: center;
}

.functions {
	order: 3;
	width: 9em;
	height: 40%;
	display: block;
}

.function1{
	margin-top: 7px;
	margin-left: 23px;
	width: 100px;
}
.function2{
	margin-top: 2px;
	margin-left: 23px;
	width: 100px;
}
.function3{
	display: block;
	margin-left: 248px;
	width: 100px;
	margin-top: -46px;
	text-align: center;
}
.function4{
	display: block;
	margin-left: 248px;
	width: 100px;
	margin-top: 2px;
	text-align: center;
}


#console {
	display: block;
	margin-left: auto;
    margin-right: auto;
	width: 40%;
	height: 50%;
}
