header {
	text-align: center;
	display: block;
	margin-left: auto;
    margin-right: auto;
}

#upper {
	margin-left: auto;
    margin-right: auto;
	display: flex;
	flex-flow: row wrap;
	width: 23em;
	background: #FAFAFA;
	align-items: center;
	justify-content: center;
}

#matrix1, #matrix2{
	order: 1;
	width: 9em;
	height: 40%;
}

#operations {
	order: 1;
	width: 5em;
	height: 40%;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.operation {
	width: 5em;
	height: 10%
}

.parent {
	display: flex;
	flex-flow: row wrap;
	width: 9em;
	background: #FAFAFA;
	align-items: center;
	justify-content: center;
}

.title {
	order: 1;
	font-family: "Times New Roman", serif;
	width: 9em;
	height: 10%;
	text-align: center;
}

.m1r1, .m2r1 {
	order: 2;
	width: 3em;
	height: 10%;
	text-align: center;
}

.m1r2, .m2r2 {
	order: 3;
	width: 3em;
	height: 10%;
	text-align: center;
}

.m1r3, .m2r3 {
	order: 4;
	width: 3em;
	height: 10%;
	text-align: center;
}

.functions {
	order: 5;
	width: 9em;
	height: 40%;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.function {
	width: 8em;
	height: 10%;
	border-radius: 2em;
}

#console {
	display: block;
	margin-left: auto;
    margin-right: auto;
	width: 40%;
	height: 50%;
}