.parent {
	display: flex;
	flex-flow: row wrap;
	width: 9em;
	background: #FAFAFA;
	align-items: center;
	justify-content: center;
}

.title {
	order: 1;
	width: 9em;
	height: 10%;
	text-align: center;
}

.m1r1 {
	order: 2;
	width: 3em;
	height: 10%;
	text-align: center;
}

.m1r2 {
	order: 3;
	width: 3em;
	height: 10%;
	text-align: center;
}

.m1r3 {
	order: 4;
	width: 3em;
	height: 10%;
	text-align: center;
}